{% if slug and not appointments %}
{% load static %}
<h3 class="text-danger m-4">No {{ slug }} Appointments!</h3>
{% else %}
<table class="table-bordered my-3" cellpadding="10">
            <thead>
              <tr class="text-center">
                <td></td>
                <td>Name</td>
                 <td>Date</td>
                <td>Time</td>
                <td>Location</td>
                <td>{% if slug == 'done' %}Status{% else %}Token No.{% endif %}</td>
                {% if slug == 'done' %}
                 <td colspan="">Generate/Upload/View Report</td>
                 {% endif %}
                {% if slug == 'pending' %}
                <td></td>
                <td></td>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            {% for appointment in appointments %}
            <tr class="text-success text-center">
              <td><img src="{{ appointment.patient.image.url }}" width="70px"></td>
                <td><u><a href="{% url 'patient:patient_account' pk=appointment.patient.pk %}">{{ appointment.patient.full_name }}</a></u></td>
              <td>{{ appointment.appointment_date }}</td>
              <td>{{ appointment.appointment_time }}</td>
              <td>{{ appointment.location }}</td>
              <td class="text-danger">{% if slug == 'done' %}Completed{% else %}{{ appointment.token_no }}{% endif %}</td>
              {% if slug == 'approved' or slug == 'disapproved' %}
              <td><a href="{% url 'chat:message_view' patient_pk=appointment.patient.pk %}">View Message Sent</a></td>
              {% endif %}
              {% if slug == 'pending' %}
              <td><form action="{% url 'doctor:respond' ap_pk=appointment.pk %}">
                <input type="hidden" name="status" value="approve">
                <input type="submit" value="Approve" class="btn btn-outline-danger btn-sm">
              </form></td>
             <td><form action="{% url 'doctor:respond' ap_pk=appointment.pk %}">
                 <input type="hidden" name="status" value="disapprove">
                 <input type="submit" value="Disapprove" class="btn btn-outline-danger btn-sm">
             </form></td>
             {% endif %}
             {% if slug == 'done' %}
                <td colspan="">
                    {% if appointment.report_generated %}
                    {% if not appointment.report %}
                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                     {{ form.as_p }}
                        <input type="hidden" name="ap_pk" value="{{ appointment.pk }}">
                        <input type="submit" class="btn btn-sm btn-success" value="upload">
                    </form>
                    {% else %}
                    <a class="btn btn-sm btn-outline-success" href="{{ appointment.report.url }}" target="_blank">view</a>
                    <a class="btn btn-sm btn-success mt-1" href="{% url 'doctor:download_report' ap_pk=appointment.pk %}">Download</a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'doctor:generate_report' ap_pk=appointment.pk %}" class="btn btn-sm btn-success">Generate Report</a>
                    {% endif %}
                </td>
             {% endif %}
            </tr>
            {% endfor %}
            </tbody>
</table>


{% endif %}
