{% extends 'base.html' %}
{% block content %}
{% load static %}
<style type="text/css" src="{% static 'css/style.css' %}"></style>

<aside id="aside" class="">
	<div class="container mt-4">

		{% for appointment in appointments %}
		<a href="{% url 'patient:messages' doctor_pk=appointment.doctor.pk %}">
		<div class="card mb-3" style="width: 22rem;">
     	 <div class="card-body">
      	<div class="row">
      		<div class="col-3">
      			<img src="{{ appointment.doctor.image.url }}" width="66px" style="border-radius: 50%;border: 2px solid silver;">
      		</div>
      		<div class="col-6 text-left mt-2">
      			<span class="text-">{{ appointment.doctor.full_name }}<br>
      	  		<span class="text-muted">{{ appointment.doctor.category }}</span>
      		</div>
      	</div>
      </div>
		</div>
		</a>
		{% endfor %}
	</div>
</aside>


<div class="chatbox bg-white">
	{% for object in messages %}
	{% if object.msg_doctor %}
	<div class="row mb-4 mt-1">
		<div class="col-6 doctor bg-dark text-info ">
			<h5 class="text-muted">{{ doctor_name }}</h5>
			<p>{{ object.msg_doctor }}</p>
			<div class="float-left" style="font: 13px courier, sans-serif; color:orange">
			<span>{{ object.created.time }}</span><br>
			<span>{{ object.created.date }}</span>
			</div>
		</div>
		<div class="col-6"></div>
	</div>
	{% endif %}
	<!-- ================================= -->
	{% if object.from_patient and object.msg_patient %}
	<div class="row mb-4">
		<div class="col-6">
		</div>
		<div class="col-6 patient bg-secondary text-white ">
			<h5 class="text-warning">You</h5>
			<p>{{ object.msg_patient }}</p>
			<div class="float-left" style="font: 13px courier, sans-serif; color:orange">
			<span>{{ object.created.time }}</span><br>
			<span>{{ object.created.date }}</span>
			</div>
			<a href="{% url 'chat:delete_msg' msg_pk=object.pk %}" class="btn btn-warning float-right btn-sm" style="opacity:0.6;">Delete</a>
		</div>
	</div>
	{% endif %}
	{% endfor %}

	{% if not messages %}
	<div class="row mb-4 mt-1">
		<div class="col-6 doctor bg-dark text-info ">
			<h5 class="text-muted">{{ first_msg.doctor.full_name }}</h5>
			<p>{{ first_msg.msg_doctor }}</p>
			<div class="float-left" style="font: 13px courier, sans-serif; color:orange">
			<span>{{ first_msg.created.time }}</span><br>
			<span>{{ first_msg.created.date }}</span>
			</div>
		</div>
		<div class="col-6"></div>
	</div>

	{% if first_msg.from_patient and first_msg.msg_patient %}
	<div class="row mb-4">
		<div class="col-6">
		</div>
		<div class="col-6 patient bg-secondary text-white ">
			<h5 class="text-warning">You</h5>
			<p>{{ first_msg.msg_patient }}</p>
			<a href="{% url 'chat:delete_msg' msg_pk=first_msg.pk %}" class="btn btn-warning float-right btn-sm" style="opacity:0.6;">Delete</a>
		</div>
	</div>
	{% endif %}
	{% endif %}

	<!-- =================  End Chat Box================ -->
</div>

	<!--=================== Text Area ==================-->
<div class="row mt-5 bg-white" style="position:fixed;bottom:15px;right:0%; width:70%;height:20%;">
	<div class="col-10">
		<form class="msg" action="{% url 'chat:create_message' %}" method="POST">{% csrf_token %}
		<textarea name="msg_patient" class="form-control" rows="5" autofocus placeholder="Enter Your Message.." style="border: 2px solid #b3b3b3;"></textarea>
	</div>
	<div class="col-2">
		<input type="hidden" name="doctor_pk" value="{{ doctor_pk }}">
		<input type="submit" value="Send" class="btn mt-2 btn-lg btn-outline-info" style="margin-left: -20px;">
	</form>
	</div>
</div>
{% endblock %}

